@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
body {
  margin: 0;
  background: #efefef;
  color: #333;
  font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif; }

article {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px; }

a, a:link, a:visited {
  color: #333; }

a:hover {
  color: #888; }

header {
  padding: 30px 0 0;
  text-align: center; }
  header svg {
    width: 70%;
    max-width: 350px; }
  header h1 {
    font-family: 'Montserrat';
    font-size: 72px;
    margin: 0;
    text-transform: uppercase; }
    @media screen and (max-width: 500px) {
      header h1 {
        font-size: 64px; } }
    @media screen and (max-width: 400px) {
      header h1 {
        font-size: 56px; } }
    @media screen and (max-width: 350px) {
      header h1 {
        font-size: 48px; } }
  header h2 {
    padding-bottom: 0;
    border-bottom: none; }

h2 {
  padding-bottom: 3px;
  border-bottom: 1px solid #000; }

.screenshot {
  margin: 30px 10px;
  box-shadow: 0px 0px 10px 5px rgba(100, 100, 100, 0.75); }
  .screenshot img {
    width: 100%; }

.github-ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 200; }
  @media screen and (max-width: 600px) {
    .github-ribbon {
      display: none; } }
