@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import "codemirror.scss";
@import "fullscreen.scss";

body {
  font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

//@keyframes rotate {
//  to {
//    transform: rotate3d(0, 0, 1, 360deg);
//  }
//}
//
//.flathead-screwline {
//    transform-origin: center;
//    transform: rotate3d(0, 0, 1, -50deg);
//}

.mui-icon-add-item:before {
  content:"add";
}

.mui-icon-upload:before {
  content:"file_upload";
}

.mui-icon-clear-item:before {
  content:"clear";
}

.mui-icon-remove:before {
  content:"remove";
}

.mui-icon-help:before {
  content:"help";
}

.line-error{
  background-color: #FF1919;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .suite-list-pane {
    width: 400px;
    border-right: 1px solid #999;
    overflow: hidden;
    
    .suite-list-header {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #999;
      font-size: 20px;
      font-weight: 300;
    }
    
    .suite-list {
      height: calc(100vh - 50px);
      padding-left: 0;
      margin: 0;
      overflow: auto;

      li {
        list-style: none;
        a{
          display: flex;
          padding: 20px;
          border: 1px solid #999;
          
          color:#fff;
          text-decoration: none;
          background: #1883ff;
          
          &:hover {
            background: #80bbff;
          }
          
          .suite-active-indicator {
            display: block;
            background: lime;
            height: 16px;
            width: 16px;
            border-radius:50%;
            box-shadow: 0px 0px 10px lime;
            margin-left: auto;
            
          }
          
          .suite-inactive-indicator {
            display: block;
            background: red;
            height: 16px;
            width: 16px;
            border-radius:50%;
            box-shadow: 0px 0px 10px red;
            margin-left: auto;
            
          }
        }
      }
    }
  }
  
  .suite-editor {
    width: calc(100vw - 400px);
    padding: 20px;
    overflow-y: auto;
    background-color: #efefef;
    
    &.suite-editor-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h1 {
        font-family: 'Montserrat';
        font-size: 72px;
        margin: 0;
        color: #333;
      }
    }
    
    .suite-editor-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      
      & > div {
        margin: 10px 10px 0;
      }
    }
    
    .suite-metadata-editor {
      width: 400px;
    }
    
    .route-list {
      padding-left: 0;
      
      li {
        list-style: none;
        
        .route-editor{
          margin: 20px 0;
          padding: 0 20px 20px;
          
          &.collapsed-route-editor {
            padding: 0 20px;
          }
          
          .delete-button-area {
            float: right;
          }
        }
      }
    }
  }
}
